:root {
  --font-sans: "Lora Variable", sans-serif;
  --font-serif: "Playfair Display Variable", serif;
  --text-color: #4a2d00;
  --bg-color: #fdf8f0;
  --button-bg-color: #e5d7c2;
  --rounded: 0.375rem;
  --rounded-sm: 0.25rem;
  --container-width: 80ch;
}

@layer base {
  body {
    display: grid;
    min-height: 100dvh;
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-sans);
    font-size: 1.125rem;
    grid-template-rows: auto 1fr auto;
    line-height: 1.625;

    @media print {
      color: #4c4c4c;
      font-size: 12pt;
      line-height: 1.5;
    }
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-serif);
    font-variation-settings: "wght" 700;
  }

  :where(h1) {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
  }

  :where(a) {
    color: currentcolor;
    font-weight: 500;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;

    &:focus-visible {
      border-radius: var(--rounded);
      outline: 2px solid currentcolor;
      outline-offset: 4px;
    }
  }
}

@layer components {
  .container {
    max-width: var(--container-width);
    padding: 1rem;
    margin: 0 auto;
  }

  .home-header {
    margin-bottom: 2rem;

    h1 {
      margin-bottom: 0;
      line-height: 1;
    }

    p {
      margin-top: 0;
    }
  }

  .post-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .post-list-title {
    margin-bottom: 0;
    font-size: 1.5rem;
    line-height: 1;
  }

  .post-list-date {
    font-size: 0.85rem;
    line-height: 1;
    margin-block: 0;
  }

  .post-list-link {
    text-decoration: none;
  }

  .post-list-summary {
    margin-block: 0 2rem;
  }

  .post-content p {
    &:last-child:has([href]) {
      @media print {
        display: none;
      }
    }

    @media print {
      overflow: visible;
      break-after: avoid;
      break-before: avoid;
      break-inside: avoid;
    }
  }

  hr {
    @media print {
      display: none;
    }
  }
}
