---
import { getCollection, getStaticPaths, render } from "astro:content";
import Layout from "@layouts/Default.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id.match(/[a-zA-Z].+/)[0] },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.excerpt}>
  <p class="post-excerpt">{post.data.excerpt}</p>
  <Content />
</Layout>
