---
import Layout from "@layouts/Default.astro";
---

<Layout
  description="Libro Del Amor a la Soledad, por Mario Flores Abreu"
  title="Del Amor a la Soledad"
>
  <h1>Del amor a la soledad</h1>
</Layout>
