---
import { getCollection } from "astro:content";
import "@fontsource-variable/playfair-display";
import "@fontsource-variable/lora";
import "../styles/global.css";

const posts = await getCollection("blog");
console.log("+++++++");
console.log(posts[0]);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Letras Nubladas</title>
	</head>
	<body>
		<div class="container">
			<h1>Letras Nubladas</h1>
			<p>
				Dolor iure praesentium nihil obcaecati recusandae saepe. Quae deleniti
				doloremque impedit voluptates iusto. Molestiae sed aperiam saepe beatae
				nesciunt ratione est Numquam facilis velit alias praesentium officiis
				quisquam? Eaque illum
			</p>
			<ul>
				{
					posts.map((post) => (
						<li key={post.id}>
							<a href={`/${post.id}/`}>{post.data.title}</a>
						</li>
					))
				}
			</ul>
		</div>
	</body>
</html>
