---
import { getCollection } from "astro:content";
import "@fontsource-variable/playfair-display";
import "@fontsource-variable/lora";
import "../styles/global.css";

const posts = await getCollection("blog");
const articles = posts.sort((a, b) => {
  const timeStampA = new Date(a.id.match(/^\d{4}-\d{2}-\d{2}/)[0]).getTime();
  const timeStampB = new Date(b.id.match(/^\d{4}-\d{2}-\d{2}/)[0]).getTime();
  return timeStampB - timeStampA;
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Letras Nubladas</title>
  </head>
  <body>
    <div class="container">
      <h1>Letras Nubladas</h1>
      <p>
        Dolor iure praesentium nihil obcaecati recusandae saepe. Quae deleniti
        doloremque impedit voluptates iusto. Molestiae sed aperiam saepe beatae
        nesciunt ratione est Numquam facilis velit alias praesentium officiis
        quisquam? Eaque illum
      </p>
      <ul class="post-list">
        {
          articles.map(({ data }) => (
            <li>
              <article>
                <h2 class="post-list-title">
                  <a class="post-list-link" href="#!">
                    {data.title}
                  </a>
                </h2>
                <p class="post-list-summary">{data.excerpt}</p>
              </article>
            </li>
          ))
        }
      </ul>
    </div>
  </body>
</html>
