---

---

<footer>
  <div class="container">
    <p>
      Letras Nubladas&copy; 2021 - {new Date().getFullYear()}.
    </p>
    <p>
      Publicado bajo
      <a
        href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.es"
        target="_blank"
        rel="noopener"
      >
        Licencia Creative Commons BY-NC-ND 4.0
      </a>. No se permite su uso comercial ni la creación de obras derivadas.
    </p>
  </div>
</footer>

<style>
  footer {
    font-size: small;
    font-weight: 600;
    text-align: center;
    border-top: 1px solid var(--button-bg-color);
  }
</style>
