---

---

<footer>
  <div class="container">
    <p>
      Letras Nubladas&copy; 2021 - {new Date().getFullYear()}.
    </p>
  </div>
</footer>

<style>
  footer {
    font-size: small;
    font-weight: 600;
    text-align: center;
    border-top: 1px solid var(--button-bg-color);
  }
</style>
