---

---

<div class="loader"></div>

<style>
  .loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    border: 0.5rem solid var(--text-color);
    border-top: 0.5rem solid transparent;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 1.25s linear infinite;
    margin: auto;

    &.visible {
      display: block;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
