---
import "@fontsource-variable/playfair-display";
import "@fontsource-variable/lora";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const { title = "Letras Nubladas", description = "" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Letras Nubladas</title>
  </head>
  <body>
    <div class="container">
      <h1>{title}</h1>
      <slot />
    </div>
  </body>
</html>
