---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import "@fontsource-variable/playfair-display";
import "@fontsource-variable/lora";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
  classes?: string;
}

const { title = "", description = "", classes = "" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="follow, index" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#e5d7c2" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title ? `${title} | Letras Nubladas` : "Letras Nubladas"}</title>
  </head>

  <body class:list={classes}>
    <Header />
    <main class="container">
      <slot />
    </main>
  </body>
  <Footer />
</html>

<style>
  main {
    width: 100%;
  }
</style>
